* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url(img/Sprinkle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.calculator {
  background: lightGrey;
  width: 300px;
  height: 430px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screen {
  margin: 20px 10px;
  background-color: darkGrey;
  height: 80px;
  font-size: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 7px;
}
.button {
  padding: 10px 0px;
  text-align: center;
  font-weight: bolder;
  margin: 10px 0px;
  width: 50px;
  border-radius: 7px;
}
.button:hover {
  background-color: white;
}
.clear,
.delete {
  padding: 10px 30px;
  text-align: center;
  width: max-content;
  background-color: rgb(113, 113, 113);
}
.clear.button:hover {
  background-color: rgb(215, 90, 90);
}

.delete.button:hover {
  background-color: rgb(90, 90, 215);
}

.operator {
  background-color: orange;
}
.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
